body {
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  position: relative;
  padding: 4rem 2rem;
}

body {
  padding: 2rem 1rem;
}

.container {
  max-width: 1200px;
}

body::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -4;
  inset: 0;
}

.containerTitle {
  width: 100%;
  height: 100px;
  background-color: rgb(200, 200, 200, 0.1);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerTitle h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 15px;
}

main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}

#profile {
  max-width: 500px;
  width: 100%;

  float: left;
  background-color: rgb(200, 200, 200, 0.1);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  height: max-content;
}

#profile > img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  #profile > img {
    height: 400px;
  }
}

#other-profile {
  background-color: rgba(103, 102, 104, 0.082);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.image-profile {
  width: 105px;

  float: left;
  cursor: pointer;
}

.image-profile:hover {
  filter: contrast(0.9);
}

.image-profile img {
  width: 90%;
  height: 125px;
  border-radius: 10px;
}

.image-profile input {
  width: 90px;
  height: 15px;
  border: 10px;
  font-family: fantasy;
  background-color: white;
}

#container-form {
  max-width: 650px;
  width: 100%;
  height: 0 auto;
  float: right;
  padding: 2rem;
  background-image: url("/img/freepik-export-20240925203544zBIA.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

fieldset {
  padding: 1rem;
}

legend {
  font-size: 30px;
  font-family: fantasy;

  margin-left: 1rem;
}

.character fieldset {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

form input {
  background: none;
  border: 0;
  border-bottom: 1px solid #000;
}

.name {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.name input {
  width: 100%;
  max-width: 600px;
}

#height,
#weight,
#age {
  width: 50px;
  margin-right: 10px;
}

#genre {
  width: 100px;
}

#container-attributes {
  height: 380px;
  width: 190px;
}

#container-attributes fieldset {
  width: 100%;
  height: 100%;
}

.attributes {
  display: flex;
  margin-bottom: 1rem;
}

.attributes label {
  display: block;
  font-size: 20px;
  /* width: 95px; */
  width: max-content;
  padding: 1px 6px;
  color: rgb(199, 201, 202);
  border-radius: 25px;
  z-index: 2;
}

.attributes input {
  width: 90px;
  border-radius: 25px;
  border: 1px solid rgb(61, 28, 28);
  margin-left: -2rem;
  background-color: #fff7d9;
  z-index: 0;
  padding-left: 2.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  color: rgb(61, 28, 28);
}

#container-history {
  float: right;
  height: 380px;
  width: calc(100% - 210px);
}

#container-history fieldset {
  height: 100%;
}

#container-history textarea {
  width: 100%;
  resize: none;
  height: 300px;
  padding: 1rem;
  font-size: 1rem;
}

#status {
  width: 190px;
}

#status fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.life,
.fury,
.magic,
.sta,
.fe {
  float: left;
  display: flex;
}

.life label,
.fury label,
.magic label,
.sta label,
.fe label {
  display: block;
  font-size: 25px;
  width: max-content;
  padding: 1px 6px;
  color: white;
  border-radius: 25px;
  z-index: 2;
}

.life label {
  background-color: rgb(144, 207, 18);
}

.fury label {
  background-color: rgb(211, 14, 14);
}

.life input,
.fury input,
.magic input,
.sta input,
.fe input {
  width: 70px;
  border-radius: 25px;
  border: 1px solid rgb(61, 28, 28);
  margin-left: -2rem;
  background-color: #fff7d9;
  z-index: 0;
  padding-left: 2.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  color: rgb(61, 28, 28);
}

.injury,
.venom {
  display: flex;
  gap: 0.5rem;
}

.injury label {
  display: block;
  font-size: 20px;
  color: rgb(124, 6, 6);
}

.venom label {
  display: block;
  font-size: 20px;
  color: rgb(14, 100, 32);
}

#item {
  width: 100%;
}

.armor {
  float: left;
}

.armor label {
  display: block;
  font-size: 20px;
  color: rgb(12, 12, 12);
  font-family: fantasy;
}
.armor input {
  width: 300px;
  border-radius: 4px;
  margin-right: 1rem;
}

.efeito label {
  display: block;
  font-size: 20px;
  color: rgb(13, 14, 13);
  font-family: fantasy;
}

.efeito select {
  border-radius: 4px;
}

form button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #9b2424;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2rem;

  cursor: pointer;
}

@media (max-width: 1280px) {
  main {
    justify-content: center;
  }
}

@media (max-width: 689px) {
  #container-history,
  #container-attributes,
  #status {
    width: 100%;
  }

  .armor,
  #item,
  #item fieldset,
  .armor input {
    width: 100%;
  }

  .efeito select {
    width: 100%;
    margin-bottom: 1rem;
  }
}
