.wrapper {
  background-image: url(/img/back-ladino.jpg);
}

.container legend,
.container fieldset label {
  color: rgb(203, 193, 3);
}

.attributes label {
  background-color: rgb(203, 193, 3);
}

.containerTitle h1 {
  color: rgb(35, 36, 36);
}

.attributes label {
  background-color: rgb(35, 36, 36);
}

.sta label {
  background-color: rgb(8, 161, 3);
}

.container select {
  background-color: rgb(35, 36, 36);
  color: rgb(203, 193, 3);
}
