.wrapper {
  background-image: url(/img/Back-paladino.jpg);
}

.container legend,
.container fieldset label {
  color: rgb(148, 3, 3);
}

.attributes label {
  background-color: rgb(148, 3, 3);
}

.magic label {
  background-color: rgb(38, 35, 224);
}

.containerTitle h1 {
  color: rgb(35, 36, 36);
}

.attributes label {
  background-color: rgb(35, 36, 36);
}

.sta label {
  background-color: rgb(8, 161, 3);
}

.containerTitle h1 {
  color: rgb(148, 3, 3);
}

.fe label {
  background-color: rgb(247, 242, 142);
}
